

<div class="container" *ngIf="character$ | async as character ">
    <div class="row">
        
      <div class="col">
        <div class="imgCharacter">
              
            <img [src]="[character.image]" [alt]="[character.name]" class="card-img-top" />
      
    </div>      </div>
      <div class="col">
        <div class="card-inner">
            <div class="header">
             
                    <h1>{{ character.name | slice: 0:15}}</h1>
                    <h5>Estado : {{character.status}}</h5>
                    <h5>Especie : {{character.species}}</h5>
                    <h5>Genero : {{character.gender}}</h5>
                    <h5>Ubicación : {{character.location.name}}</h5>
                    <h5>Episodios : </h5>
                    <br/>
                    <ul *ngFor="let episode of character.episode ">
                        <li><a [routerLink]="['/episode-detail', episode.substring(40)]">Episodio {{episode.substring(40)}}</a></li>
                       
                      </ul>
             
            </div>
            <button (click)="goBack()" class="btn btn-dark">Volver</button>
        </div>
      </div>
    
    </div>
  </div>